* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
    color: #e8443c;
}

h3 {
    font-size: 1em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    margin-left: 20px;
}

.quest {
    width: 75vw;
    margin: 20px auto;
    padding: 10px 20px 20px;
    border: 1px solid black;
    border-radius: 20px;
}