* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #e8443c;
    text-align: center;
    margin: 10px 0 20px;
}

/**** FORM design ****/

.form-container {
    display: flex;
    justify-content: center;
}

form {
    width: 50vw;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

h2, p {
    margin: 10px 0;
}

form div {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.rows:nth-child(odd) {
    background-color: #cec2ae;
}

input {
    width: 15vw;
}

#submit {
    margin: 10px auto;
    padding: 2px 5px;
}

#percentage-div {
    display: flex;
    justify-content: end;
}

#percentage-div div {
    width: 7vw;
}

#total-percentage {
    text-align: right;
}

.warning {
    background-color: #da3c3c;
    color: white;
    text-align: center;
    width: 75vw;
    margin: 10px auto;
    font-size: 1.5em;
}

/**** TABLE design ****/

table {
    margin: 50px auto 0;
    border-collapse: collapse;
    border: 3px solid black;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

/**** CELLS design ****/

.hill {
    background-image: url("img/hill.jpg");
    background-size: cover;
}

.desert {
    background-image: url("img/desert.jpg");
    background-size: cover;
}

.forest {
    background-image: url("img/forest.jpg");
    background-size: cover;
}

.lake {
    background-image: url("img/lake.jpg");
    background-size: cover;
}

.swamp {
    background-image: url("img/swamp.jpg");
    background-size: cover;
}

.mountain {
    background-image: url("img/mountain.jpg");
    background-size: cover;
}

.plain {
    background-image: url("img/plain.jpg");
    background-size: cover;
}

.volcano {
    background-image: url("img/volcano.jpg");
    background-size: cover;
}
