* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

/**** FORM design ****/

.form-container {
    display: flex;
    justify-content: center;
}

form {
    width: 50vw;
    border: 1px solid black;
    padding: 10px;
}

h2, p {
    margin: 10px 0;
}

form div {
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

form div:nth-child(even) {
    background-color: #d5d3d3;
}

input {
    width: 15vw;
}

#submit {
    margin: 10px auto;
    padding: 2px 5px;
}

/**** TABLE design ****/

table {
    margin: 50px auto 0;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

/**** CELLS design ****/

.hill {
    background-color: #90EE90;
    background-image: url("img/hills.png");
    background-size: cover;
}

.desert {
    background-color: #F4A460;
    background-image: url("img/desert.png");
    background-size: cover;
}

.forest {
    background-color: #008000;
    background-image: url("img/forest.png");
    background-size: cover;
}

.lake {
    background-color: #90EE90;
    background-image: url("img/lake.png");
    background-size: cover;
}

.swamp {
    background-color: #9d7269;
    background-image: url("img/swamp.png");
    background-size: cover;
}

.mountain {
    background-color: #A9A9A9;
    background-image: url("img/mountain.png");
    background-size: cover;
}

.plain {
    background-color: #90EE90;
}

.volcano {
    background-color: #FF4500;
    background-image: url("img/volcano.png");
    background-size: cover;
}
